/* You can add global styles to this file, and also import other style files */

.container-clamav {
  height: 20vh;
  width: 100%;
  background-color: antiquewhite;
  min-height: 150px;
}

.container-bleachbit {
  height: 12vh;
  width: 100%;
  background-color: aquamarine;
  min-height: 120px;
}
